:root {
    --color-red: #f55;
    --color-green: #39ed3e;
    --color-yellow: #ffee56;
    --color-grey: #dde7e5;
    --color-dark-blue: #032f3b;
    --color-dark-grey: darkgrey;

    --color-background: #e9f9fe;
}

.green {
    background-color: var(--color-green);
}

.red {
    background-color: var(--color-red);
}

.d-grey {
    background-color: var(--color-dark-grey);
}