.icon-navbar {
    height: 1.5rem;
}

.link-home-page {
    font-size: 2rem;
    left: 1rem;
}

.nav-contents {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 2rem;
    padding: 2rem;
    width: 100%;
    box-shadow: 0 1px 4px var(--color-dark-grey);
    border-radius: 10px;
}