
.modal-container {
    border: 1px solid var(--color-black);
    background-color: var(--color-dark-grey);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 30rem;
    max-width: 25rem;
    align-self: center;

}

.modal-btn {
    border: none;
    background-color: transparent;
    width: fit-content;
    cursor:  pointer;
    align-self: flex-end;
    font-size: 1.5rem;
}

.header-modal {
    font-size: 1.8rem;
    text-align: center;
}

.modal-desc {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem
}

.modal-btn-container {
    display: flex;
    gap: 2rem;
    align-self: flex-end;
}
